@keyframes TextHomeEntrada {
  0% {
    transform: translateX(-70vh);
  }
  100% {
    transform: translateX(0);

  }
}


@keyframes QuemSomosEntraa {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);

  }
}

